#### Importing Necessary Packages

In [2]:
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import matplotlib.pyplot as plt

#### Read and explore train data

In [3]:
train = pd.read_csv("train.csv")

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.shape

(891, 12)

### Data Preprocessing

In [6]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
#Preparing dictionary for Categorical feature
s = {"male":0,"female":1}
e = {"S":0,"C":1,"Q":2}
e

{'C': 1, 'Q': 2, 'S': 0}

In [8]:
train.Ticket.value_counts().__len__()

681

In [9]:
#Drop unwanted columns
train = train.drop(["Name","Ticket"],axis=1)

In [10]:
t = train.copy()

In [11]:
t.shape

(891, 10)

#### Remove Null Values

In [12]:
t.Age.isnull().sum()

177

In [13]:
t.Age.fillna(t.Age.mean(),inplace=True)
t.Age.isnull().sum()

0

In [14]:
t.Fare.isnull().sum()

0

In [15]:
t.SibSp.isnull().sum()

0

In [16]:
t.Embarked.isnull().sum()

2

In [17]:
t.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S

In [18]:
emb = t.Embarked.mode()[0]

In [19]:
print(type(emb),emb)

<class 'str'> S

In [20]:
t.Embarked.fillna("S",inplace=True)

In [21]:
t.sample(3)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
74,75,1,3,male,32.000000,0,0,56.4958,NaN,S
755,756,1,2,male,0.670000,1,1,14.5000,NaN,S
578,579,0,3,female,29.699118,1,0,14.4583,NaN,C

In [22]:
t.Embarked.value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [23]:
t.Sex = t.Sex.map(s)

In [24]:
t.Embarked = t.Embarked.map(e)

In [25]:
t.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,7.2500,NaN,0
1,2,1,1,1,38.0,1,0,71.2833,C85,1
2,3,1,3,1,26.0,0,0,7.9250,NaN,0
3,4,1,1,1,35.0,1,0,53.1000,C123,0
4,5,0,3,0,35.0,0,0,8.0500,NaN,0

In [26]:
t.Cabin.fillna(0,inplace=True)

In [27]:
t.Cabin = t.Cabin.map(lambda l: str(l)[0])

In [28]:
t.Cabin.value_counts()

0    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

In [29]:
t.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,7.2500,0,0
1,2,1,1,1,38.0,1,0,71.2833,C,1
2,3,1,3,1,26.0,0,0,7.9250,0,0
3,4,1,1,1,35.0,1,0,53.1000,C,0
4,5,0,3,0,35.0,0,0,8.0500,0,0

In [30]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [31]:
t['Cabin'] = label_encoder.fit_transform(t['Cabin'])

In [32]:
t.Cabin.value_counts()

0    687
3     59
2     47
4     33
5     32
1     15
6     13
7      4
8      1
Name: Cabin, dtype: int64

In [33]:
t.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,7.2500,0,0
1,2,1,1,1,38.0,1,0,71.2833,3,1
2,3,1,3,1,26.0,0,0,7.9250,0,0
3,4,1,1,1,35.0,1,0,53.1000,3,0
4,5,0,3,0,35.0,0,0,8.0500,0,0

In [34]:
t.shape

(891, 10)

#### Split the Data for training and testing

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X1 = t.drop(['PassengerId','Survived'],axis = 1)
y1 = t['Survived']

In [38]:
Xtrain1,Xtest1,Ytrain1,ytest1 = train_test_split(X1,y1,test_size=0.25)

In [39]:
Xtrain1.shape,Xtest1.shape,Ytrain1.shape,ytest1.shape

((668, 8), (223, 8), (668,), (223,))

### Creating an ANN Model

In [40]:
model = Sequential()

In [41]:
# Creating intial layer with five neurans and intialize init as "uniform" for uniform weight intialization and with Rectifier Activation function.

model.add(Dense(output_dim = 5,activation = "relu",input_dim = 8,init ="uniform"))

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=8, units=5, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [42]:
#Adding a new hidden layer with 3 neurans and and with relu activation function.
model.add(Dense(output_dim = 3,activation = "relu",init ="uniform"))

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=3, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [43]:
#Adding final output layer with output dimension and activation funciton as Sigmoid (for binary classification, it'll return the probabilty)
model.add(Dense(output_dim=1,init = "uniform",activation ="sigmoid"))

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [44]:
#Compile the model with the Adam optimizer with binary loss function 
model.compile(optimizer = "adam",loss = "binary_crossentropy", metrics = ["accuracy"])

In [45]:
#fitting the dataset to the model
model.fit(Xtrain1, Ytrain1, batch_size = 10, nb_epoch = 20)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/20
668/668 [==============================] - 1s 1ms/step - loss: 0.6900 - acc: 0.6093
Epoch 2/20
668/668 [==============================] - 0s 172us/step - loss: 0.6709 - acc: 0.6228
Epoch 3/20
668/668 [==============================] - 0s 199us/step - loss: 0.6409 - acc: 0.6422
Epoch 4/20
668/668 [==============================] - 0s 247us/step - loss: 0.6233 - acc: 0.6527
Epoch 5/20
668/668 [==============================] - 0s 169us/step - loss: 0.6122 - acc: 0.6766
Epoch 6/20
668/668 [==============================] - 0s 151us/step - loss: 0.6066 - acc: 0.6737
Epoch 7/20
668/668 [==============================] - 0s 172us/step - loss: 0.6009 - acc: 0.6722
Epoch 8/20
668/668 [==============================] - 0s 171us/step - loss: 0.5983 - acc: 0.6811
Epoch 9/20
668/668 [==============================] - 0s 153us/step - loss: 0.5953 - acc: 0.6751
Epoch 10/20
668/668 [==============================] - 0s 171us/step - loss: 0.5908 - acc: 0.6811
Epoch 11/20
668/668 [==============================] - 0s 169us/step - loss: 0.5877 - acc: 0.6886
Epoch 12/20
668/668 [==============================] - 0s 175us/step - loss: 0.5827 - acc: 0.6916
Epoch 13/20
668/668 [==============================] - 0s 192us/step - loss: 0.5814 - acc: 0.7021
Epoch 14/20
668/668 [==============================] - 0s 246us/step - loss: 0.5751 - acc: 0.7081
Epoch 15/20
668/668 [==============================] - 0s 193us/step - loss: 0.5711 - acc: 0.7111
Epoch 16/20
668/668 [==============================] - 0s 171us/step - loss: 0.5686 - acc: 0.7126
Epoch 17/20
668/668 [==============================] - 0s 171us/step - loss: 0.5611 - acc: 0.7156
Epoch 18/20
668/668 [==============================] - 0s 166us/step - loss: 0.5596 - acc: 0.7231
Epoch 19/20
668/668 [==============================] - 0s 190us/step - loss: 0.5520 - acc: 0.7260
Epoch 20/20
668/668 [==============================] - 0s 178us/step - loss: 0.5480 - acc: 0.7290

In [46]:
#Predicting the test dataset
f_pred = model.predict(Xtest1)

In [47]:
f_pred = f_pred > 0.5

In [48]:
f_pred

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False]], dtype=bool)

In [49]:
#Accuracy of the Model
from sklearn.metrics import accuracy_score
accuracy_score(ytest1,f_pred)

0.7982062780269058